# IRC settings
HOST = "irc.freenode.net"
PORT = 6667
USE_SSL = False
PASSWORD = "server_password" # Server password, set to None if not needed
NICKNAME = "whatshereallysaid"

CHANNEL = "#channel_name"

# Trigger phrases, in lowercase
TRIGGERS = (
    "that's what she said",
    )