[irc]
endpoint = ssl:host=irc.freenode.net:port=7000
nickName = whatshereallysaid
realName = bot: provides quotations from notable women

channel = #newcoder

[talkback]
quotesFilename = quotes.txt
# Trigger phrases, in lowercase
triggers =
    that's what she said
