{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Data Visualization</h1>
        <hr/>
    </div>
</div>
<div class="container">
    {% for item in containers.dataviz %}
        {% if item.category == 'intro' %}
            <p><a href="{{ item.url }}">{{ item.title }}</a></p>
        {% else %}
            <p><a href="{{ item.url }}">{{ item.title }}</a> – {{ item.excerpt }}</p>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
