{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{{ get_url('/begin') }}" class="panel-title">Read me first!</a>
            </div>
            <div class="panel-body">
                {% for post in containers.intro %}
                    {% if 'begin-intro' in post.tags %}
                        <dd>
                            <dl>
                                <dd><a href="{{ get_url('/begin') }}">{{ post.excerpt }} &rarr;</a></dd>
                            </dl>
                        </dd>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ get_url('dataviz/') }}" class="panel-title">Data Visualization</a> <span class="label label-default label-as-badge pull-right">beginner</span>
                </div>
                <div class="panel-body">
                {% for post in containers.intro %}
                    {% if 'intro-dataviz' in post.tags %}
                        <p>{{ post.excerpt }}</p>
                        <p><a href="{{ get_url('dataviz/')}}">With Python, you can do better. &rarr;</a></p>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ get_url('api/') }}" class="panel-title">APIs</a> <span class="label label-default label-as-badge pull-right">intermediate</span>
                </div>
                <div class="panel-body">
                    {% for post in containers.intro %}
                        {% if 'intro-api' in post.tags %}
                            <p>{{ post.excerpt }}</p>
                            <p><a href="{{ get_url('api/')}}">Let’s see how we can with Python. &rarr;</a></p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ get_url('scrape/') }}" class="panel-title">Web Scraping</a> <span class="label label-default label-as-badge pull-right">intermediate</span>
                </div>
                <div class="panel-body">
                    {% for post in containers.intro %}
                        {% if 'intro-scrape' in post.tags %}
                            <p>{{ post.excerpt }}</p>
                            <p><a href="{{ get_url('scrape/')}}">Learn to scrape with Python. &rarr;</a></p>

                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ get_url('networks/') }}" class="panel-title">Networks</a> <span class="label label-default label-as-badge pull-right">advanced</span>
                </div>
                <div class="panel-body">
                    {% for post in containers.intro %}
                        {% if 'intro-network' in post.tags %}
                            <p>{{ post.excerpt }}</p>
                            <p><a href="{{ get_url('networks/')}}">Learn how to create an IRC bot with Python. &rarr;</a></p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ get_url('gui/') }}" class="panel-title">GUI</a> <span class="label label-default label-as-badge pull-right">advanced</span> <span class="label label-primary label-as-badge pull-right">new!</span>
                </div>
                <div class="panel-body">
                    {% for post in containers.intro %}
                        {% if 'intro-gui' in post.tags %}
                            <p>{{ post.excerpt }}</p>
                            <p><a href="{{ get_url('gui/')}}">Learn how to make a Sudoku game with Python. &rarr;</a></p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ get_url('gui/') }}" class="panel-title">More Coming Soon!</a>
                </div>
                <div class="panel-body">
                    <p>I’m writing more Python tutorials!</p>
                    <p>Have a request for a particular topic?  You can submit a GitHub issue <a href="https://github.com/econchick/new-coder/issues/new">here</a> and assign the label <span class="label label-request label-as-badge">tutorial request</span>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
