{% extends 'layout.html' %}

{% block title %}Tutorials{% endblock %}

{% block content %}
<dl class="archives">
    <h2><a href="{{ get_url('/begin') }}">Read me first!</a></h2>
    {% for post in posts %}
        {% if 'begin-intro' in post.tags %}
            <dd>
                <dl>
                    <dd><a href="{{ get_url('/begin') }}">{{ post.excerpt }} &rarr;</a></dd>
                </dl>
            </dd>
        {% endif %}
    {% endfor %}
</dl>
<dl class="archives">
    <h2><a href="{{ get_url('dataviz/') }}">Data Visualization</a></h2>
    {% for post in posts %}
        {% if 'intro-dataviz' in post.tags %}
            <dd>
                <dl>
                    <dd>{{ post.excerpt }}  <a href="{{ get_url('dataviz/')}}">With Python, you can do better. &rarr;</a></dd>
                </dl>
            </dd>
        {% endif %}
    {% endfor %}
</dl>
<dl class="archives">
    <h2><a href="{{ get_url('api/') }}">APIs</a></h2>
    {% for post in posts %}
        {% if 'intro-api' in post.tags %}
            <dd>
                <dl>
                    <dd>{{ post.excerpt }}  <a href="{{ get_url('api/')}}">Let’s see how we can with Python. &rarr;</a></dd>
                </dl>
            </dd>
        {% endif %}
    {% endfor %}
</dl>
<dl class="archives">
    <h2><a href="{{ get_url('scrape/') }}">Web Scraping</a></h2>
    {% for post in posts %}
        {% if 'intro-scrape' in post.tags %}
            <dd>
                <dl>
                    <dd>{{ post.excerpt }} <a href="{{ get_url('scrape/')}}">Learn to scrape with Python. &rarr;</a></dd>
                </dl>
            </dd>
        {% endif %}
    {% endfor %}
</dl>
<dl class="archives">
    <h2><a href="{{ get_url('networks/') }}">Networks</a></h2>
    {% for post in posts %}
        {% if 'intro-network' in post.tags %}
            <dd>
                <dl>
                    <dd>{{ post.excerpt }}</dd>
                </dl>
            </dd>
        {% endif %}
    {% endfor %}
</dl>
<dl class="archives">
    <h2>GUI</h2>
    {% for post in posts %}
        {% if 'intro-gui' in post.tags %}
            <dd>
                <dl>
                    <dd>{{ post.excerpt }}</dd>
                </dl>
            </dd>
        {% endif %}
    {% endfor %}
</dl>

{% endblock %}
