{% extends 'layout.html' %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <h1>New C<span aria-hidden="true" class="icon" data-icon="&#xe308;"/>der</h1>
    </div>
    <div class="panel-footer">
        <h4>{{ site.subtitle }}</h4>
    </div>
</div>
<div class="container">
        {% for post in posts %}
            {% if 'intro-site' in post.tags %}
                {{ post.content }}
            {% endif %}
        {% endfor %}
</div>

{% endblock %}
